footer span {
  text-align: center;
  color: $color6;
  font-size: 10px;
  text-transform: uppercase;
}
footer {
  background-color: $color6;
  background-color: $color4;
  padding: 5px;
}
footer ul a img {
  width: 30px;
  height: 30px;
}