header {
  background-color: $color7;
  background-color: red;
  padding-top: 5%;
  display: grid;
  grid-template-columns: 100%;
  width: 100%;
  text-transform: uppercase;
  font-weight: lighter;
}
header .divH1Header {
  grid-column: 1/2;
  grid-row: 1/2;
  width: 100%;
  font-size: 50px;
}
header .menu {
  grid-column: 1/2;
  grid-row: 3/4;
}
header .header--div {
  grid-column: 1/2;
  grid-row: 2/3;
  align-self: center;
  justify-self: center;
}
/* menu inicio */
.menu {
  float: left;
  width: 100%;
  margin-top: 8px;
  margin: 0 auto;
}
.menu ul {
  display: flex;
  list-style: none;
  justify-content: center;
  align-content: center;
}
.menu a {
  display: block;
  padding: 0px 20px;
  text-decoration: none;
  transition: all 500ms ease;
  color: $color6;
}
.menu a:hover {
  background-color: $color6;
  color: $color4;
}
.menu .subMenu {
  background-color: $color4;
  display: none;
  position: absolute;
}
.menu ul li a:hover + ul,
.menu .subMenu:hover {
  display: block;
}
/* menu final */
