.sectionEquipo img {
  width: 100%;
  width: 400px;
}
.sectionNosotros {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto;
  grid-gap: 10px;
  justify-content: center;
  align-content: center;
  grid-template-areas:
    "text"
    "equipo";
}
.articleProductora {
  grid-area: text;
  text-align: center;
  margin: 0 auto;
  width: 80%;
  border: $color7 3px solid;
  padding: 10px;
}
.sectionEquipo {
  grid-area: equipo;
  justify-self: center;
  align-self: center;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  justify-content: center;
  align-content: center;
  grid-gap: 10px;
  grid-template-areas: "card-1 card-2 card-3";
}
.card-1 {
  grid-area: card-1;
}
.card-2 {
  grid-area: card-2;
}
.card-3 {
  grid-area: card-3;
}
